In [32]:
students = [("Alice", 85), ("Bob", 78), ("Charlie", 92), ("David", 85), ("Eve", 78), ("Frank", 85), ("Mark", 50),
            ("George", 21)]

# 1. უნიკალური ქულები (Unique Grades)
# set ტიპი ავტომატურად ინახავს მხოლოდ უნიკალურ მნიშვნელობებს, ამიტომ შევქმნი ცარიელ set-ს და ციკლით ჩავამატებ სტუდენტების ქულებს
unique_grades = set()
for student in students:
    unique_grades.add(student[1])
print(f"Unique Grades: {unique_grades}")

print("\n" + "-"*30 + "\n")

# 2. საუკეთესო შედეგების მქონე სტუდენტები (Top Performers):
# უკვე არსებული უნიკალური ქულები უნდა დავალაგო კლებადობით (ზევიდან-ქვევით) sort-ით, რათა პირველი სამი ამოვიღო, თუმცა set უნდა გადავაქციო list-ად, რომ sort გამოვიყენო. range-ით ამოვიღებ 0-დან 3-მდე.
unique_grades_list = list(unique_grades)
unique_grades_list.sort(reverse=True)
top_grades = unique_grades_list[:3]
# students-ში ვალაგებ თითოეული წყვილის ანუ თაფლის მეორე ელემენტს (ქულას) კლებადობით — ანუ მაღლიდან-დბალამდე
students_sorted_by_grades = sorted(students, key=lambda x: x[1], reverse=True)
printed_names = set()
for student in students_sorted_by_grades:
    # ვამოწმებ, არის თუ არა ამ სტუდენტის სახელი უკვე დაბეჭდილი. თუ არა, ვბეჭდავ და ვამატებ printed_names-ში, რომ მეორედ არ დაიბეჭდოს
    if student[0] not in printed_names:
        print(f"Top Performer: {student[0]}")
        printed_names.add(student[0])
        # როცა სამი სტუდენტის სახელი დაიბეჭდება და დაემატება printed_names-ში, ციკლი შეწყდება
    if len(printed_names) == 3:
        break

print("\n" + "-"*30 + "\n")

# 3. ჩაჭრილი სტუდენტები (Failed Students) 51-ზე ნაკლები ქულით:
for student in students:
    if student[1] < 51:
        print(f"Failed Student: {student[0]}({student[1]} score)")

Unique Grades: {78, 50, 21, 85, 92}

------------------------------

Top Performer: Charlie
Top Performer: Alice
Top Performer: David

------------------------------

Failed Student: Mark(50 score)
Failed Student: George(21 score)